/*-- Universal Styles --*/

:root{
/*   Primary Colors */
  color-burgundy: #8E3200;
  color-burnt-orange: #A64B2A;
  color-dark-beige: #D7A86E;
  color-light-beige: #FFEBC1;

/*   Primary Fonts */
  ff: 'Karla', serif, sans-serif;
  fw-300-light: 300;
  fw-500: 500;
  fw-700-bold: 700;
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* * {
  margin: 0;
  padding: 0;
} */

html, body {
/*   height: 100%; */
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  background-color: #FFEBC1;
}

body {
    line-height: 1.5;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*--Mobile-first Approach--*/
/*Pertains to the sizing of elements and page*/


/*--Container CSS--*/

img, picture, video, canvas, svg {
/*     display: block; */
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
}
/* home page */

/* navigation */
nav {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8E3200;
  color: #FFF;
}
/* main page image */
.jumbotron {
  background: url(../images/leilani-angel-q8Hnv_FeQ1s-unsplash.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;
}
/* products section */
.main-products {
  display: flex;
  justify-content: space-around; 
  align-content: center;
}
.prod-circles {
  width: 300px; 
  height: 300px;
  padding: 40px;
/*   text-align: center; */
}
/* footer section */
footer {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #8E3200;
}



/* About Us Page Styles */

.about-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "steven mary"
    "mahin chyna";
  grid-row-gap: 0.2em;
  justify-items: center;
  align-items: center;
}

.profile-card {
  width: 500px;
}

.profile-card h1 {
  padding: 1em 0 0.5em;
  text-align: center;
}

.profile-card p {
  text-align: center;
}

.profile-card img {
  min-width: 300px;
  max-width: 500px;
  border-radius: 500px;
  border: 2px solid #8E3200;
}

.profile-card:nth-child(1) {
  grid-area: steven;
}

.profile-card:nth-child(2) {
  grid-area: mary;
}

.profile-card:nth-child(3) {
  grid-area: mahin;
}

.profile-card:nth-child(4) {
  grid-area: chyna;
}

/*--Utility Classes--*/

/* Login-page Styles */
.btn{
  border-radius: 20%;
  box-sizing: content-box;
  padding: 14px 50px;
 background-color: #FFEBC1;
}
form{
  justify-content: center;
  background-color: #D7A86E;
}
input {
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
}




/* Media Queries */
