/* this stylesheet is for styling icons */
button {
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 2rem;
    color: var(--cream-beige);
    border: 1px solid var(--burgundy);
    background-color: var(--olive-green); 
}

button:hover {
    transition: 0.2s;
    border: 1px solid var(--olive-green);
    background-color: var(--burgundy); 
}

i {
    cursor: pointer;
    font-size: 1.5rem;
    vertical-align: middle;
    color: var(--cream-beige);
}

i:hover {
    transition: 0.2s;
    color: var(--black);
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cream-beige);
    background-color: transparent;
    outline: none;
}
  
a:hover {
    padding: 0.3em;
    transition: 0.2s;
    border-radius: 2rem;
    background-color: var(--olive-green);
    border: 1px solid var(--cream-beige);
}

/* active class header buttons styling */
.active {
    border-bottom: 1px solid var(--cream-beige);
}

/* product page icons */
.product-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* creates a gap between rows */
}

.label span {
    font-size: 1rem;
    border-radius: 5rem;
    background-color: var(--burgundy);
}