/* this stylesheet is for styling icons */
/* main page buttons */
button {
    background-color: var(--button);
    color: var(--body);
    border: .2rem solid var(--border);
    font-size: 1rem;
    border-radius: 2rem;
    padding: 1rem;
}

i {
    font-size: 1.5rem;
    color: var(--button);
    transition: 0.3s;
    margin-right: 0.5rem;
    cursor: pointer;
}
i:hover {
    color: var(--hover);
}

a {
    text-decoration: none;
}

button:hover {
    background-color: var(--body);
    color: var(--button);
    border: .2rem solid var(--hover);
}

/* product page icons */
.product-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* creates a gap between rows */
}

.label span {
    border-radius: 5rem;
    background-color: var(--card-background);
    font-size: 1rem;
}