/* ALL card containers */
#product-container,
.card-container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ALL individual cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 18rem;
    background-color: var(--card-background);
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    transition: 0.3s;
}

/* Team card styles */
.team-flip { /* container for items in team card */
    position: relative;
    perspective: 1000px;
    width: 12rem;
    height: 20rem;
}

.team-flip:hover .front {
    transform: rotateY(-180deg);
}

.team-flip:hover .back {
    transform: rotateY(0);
}

.team { /* container for items in front & back card */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: var(--card-background);
    transition: transform 0.6s;
}

.team img.team-member {
    display: block;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    border-radius: 8rem;
    object-fit: cover;
}


/* Product Card - Container for Name & Stars */
.productHead {
    text-align: center;
}

/* Product image */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

/* Product icon container styles */
.card aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

/* Product labels container styles */
.card .label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem; /* creates a gap between rows */
}

/* Product labels styles */
.card .characteristics {
    font-family: var(--font-body);
    color: var(--body);
    font-size: .75rem;
    background-color: var(--hover);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem 0.25rem 0;
}