/* ALL card containers */
#product-container,
.card-container {
    gap: 2rem;
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* ALL individual cards */
.card {
    display: flex;
    /* margin: 1rem; */
    padding: 1rem;
    width: 18.75rem;
    transition: 0.3s;
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--burgundy);
    border: 3px solid var(--olive-green);
}

/* Team card styles */
.team-flip { /* container for items in team card */ 
    width: 12rem;
    height: 20rem;
    position: relative;
    perspective: 1000px;
}

.team-flip:hover .front {
    transform: rotateY(-180deg);
}

.team-flip:hover .back {
    transform: rotateY(0);
}

.team { /* container for items in front & back card */
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: column;
    transition: transform 0.6s;
    backface-visibility: hidden;
    background-color: var(--burgundy);
}

.team img.team-member {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    border-radius: 8rem;
}

.team h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--cream-beige);
}

.team p {
    text-align: left;
    margin-bottom: 1rem;
    color: var(--cream-beige);
}

/* product cards */
/* General card styles */
.card:hover {
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
}

/* Product Card - Container for Name & Stars */
.productHead {
    text-align: center;
}

/* Product image */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

/* Product icon container styles */
.card aside {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

/* Product labels container styles */
.card .label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem; /* creates a gap between rows */
}

/* Product labels styles */
.card .characteristics {
    font-size: .75rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    color: var(--cream-beige);
    margin: 0 0.25rem 0.25rem 0;
    font-family: var(--font-body);
    background-color: var(--olive-green);
}