.flip-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;
    height: 100%;
}

.front {
    transform: rotateY(0);
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    padding: 1rem;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flip.flipped {
    transform: rotateY(180deg);
}

article.back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}


/* Team card styles */
.team-flip { /* container for items in team card */
    position: relative;
    perspective: 1000px;
    width: 12rem;
    height: 20rem;
}

.team-flip:hover .front {
    transform: rotateY(-180deg);
}

.team-flip:hover .back {
    transform: rotateY(0);
}