/* account section (forms) */
.flip-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts {
    width: 30rem;
    height: 30rem;
}

.flip {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;
    height: 100%;
}

.front {
    transform: rotateY(0);
    z-index: 2;
}

form {
    background-color: var(--form-background);
    color: var(--body);
    border: solid .2rem var(--border);
    border-radius: 2rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form p {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input {
    border: 2px solid var(--header);
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
}

.checkmark {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    margin-bottom: .25rem;
}

.back {
    transform: rotateY(360deg);
    padding: 1rem;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flip.flipped {
    transform: rotateY(180deg);
}
