/* this stylesheet is for styling icons */

.nav-icons { /* container holds all icons */
    display: flex; /* login & signup icons - color set in reset.css */
    justify-content: space-evenly;
    align-items: center;

}

.nav-icon { /* individual icon */
    padding: .5rem;

}

.nav-icon i {
    color: var(--body);
    display: flex;
    align-items: center;
    margin: 1rem;
}

.nav-icon i:hover {
    color: var(--hover);
}

/* product page icons */
.product-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    padding: 2rem;
}

.tooltip::after {
    content: attr(data-tooltip);
    font-size: .75rem;
    white-space: nowrap;
    position: absolute;
    bottom: 100%; /* tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--page-background);
    color: var(--body);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover::after {
    opacity: 1;
}

.tooltip i {
    padding: .5rem;
    color: var(--body);
}

.label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* creates a gap between rows */
}

.label span {
    border-radius: 5rem;
    background-color: var(--card-background);
    font-size: 1rem;
}