/* this style sheet is home to all of our repeating styles */
/* navigation, header, footer, and anything that is not unique */
:root {
	--page-background: #000000;
	--object-background: #657c00;
	--headers: #8E3200;
	--body: #FFF;
	--buttons: #7a0a0a;
	--hover: #dc173f;
	--font: 'Karla', sans-serif;
	--font3: 300;
	--font5: 500;
	--font7: 700;
}

/* navigation */
nav {
	background-color: var(--object-background);
	position: fixed;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav ul {
	display: flex; /* makes the nav list horizontal */
}

nav li {
	margin: 1rem; /* creates space between nav items */
}

nav a {
	color: var(--body);
	text-decoration: none; /* removes default underline */
	font-size: 1rem;
}

nav a:hover {
	color: var(--hover);
}

.nav-icons {
	display: flex; /* login & signup buttons - color set in reset.css */
}

.nav-icons i {
	color: var(--body);
	display: flex;
	align-items: center;
	margin: 1rem;
}

.nav-icons i:hover {
	color: var(--hover);
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main button {
	width: auto;
	background-color: var(--object-background);
	color: var(--body);
}

/* footer */
footer {
	background-color: var(--object-background);
	display: flex;
	justify-content: center;
	align-items: center;
}

























