/* this style sheet is home to all of our repeating styles */
:root {
    /*accent colors*/
    --black: #0F0E0E;
    --burgundy: #820000; /*nav and card background*/
    --olive-green: #4E6C50; /*form background*/
    --cream-beige: #F2DEBA; /*page background*/
    
    /*font styles*/
    --font3: 300;
    --font5: 500;
    --font7: 700;
    --fs: 16px;
    --font-header: 'Rock Salt', sans-serif;
    --font-body: 'Poppins', sans-serif;
}

/* Home Page styling */
main { /* applies to all main tags on every page*/
    width: 90%;
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-section {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "brie-img info-area mozz-img";
    margin-top: 5rem;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
}

.brie-img, .mozz-img {
    max-width: 450px;
    border-radius: 2rem;
}

.brie-img {
    grid-area: brie-img;
}

.info-area {
    padding: 1.5rem;
    max-width: 700px;
    text-align: center;
    border-radius: 2rem;
    grid-area: info-area;
    border: 3px solid var(--burgundy);
    background-color: var(--cream-beige);
}

.info-area h3 {
  font-size: 1.4em; 
}

.info-area h4 {
    padding: 2em 0; 
    font-size: 1.3em;
}

.info-area button {
    font-size: 1.25rem;
}

.mozz-img {
    grid-area: mozz-img;
}

.hero-bg {
    width: 90%;
    height: 710px;
    border-radius: 2rem;
}

.call-to-action {
    font-size: 1.5em;
}