/* this style sheet is home to all of our repeating styles */
/* navigation, header, footer */

/* navigation */
nav {
    background-color: var(--card-background);
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex; /* makes the nav list horizontal */
}

nav li {
    margin: 1rem; /* creates space between nav items */
}

nav a {
    color: var(--body);
    text-decoration: none; /* removes default underline */
    font-size: 1rem;
}

nav a:hover {
    color: var(--hover);
}

.nav-icons {
    display: flex; /* login & signup buttons - color set in reset.css */
}

.nav-icons i {
    color: var(--body);
    display: flex;
    align-items: center;
    margin: 1rem;
}

.nav-icons i:hover {
    color: var(--hover);
}

/* footer */
footer {
    background-color: var(--card-background);
    display: flex;
    justify-content: center;
    align-items: center;
}













