h4, h5, h7 {
  text-align: center;
}


.ingredients, .directions {
  text-align: left;
}


.recipe-heading {
  color: #A53429;
}


.recipe-container {
  display: flex;
}

.ingredients, .ingredients2, .ingredients3, .directions{
  padding: 10px;
  color: var(--black);
  font-size: 18px;
  border-bottom: 1px solid var(--cream-beige);
  width: 80%;
  line-height: 1.5;
  position: relative;
  left: 35px;
}

.ingredients2{
  padding-left: 100px;
}

.ingredients3{
  padding-left: 150px;
}

.swiss-mac {
  position: relative;
  left: 45px;
}

.swiss-mac, .colby-jack, .blue-cheese {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}
.swiss-mac, .colby-jack, .blue-cheese,  .brie, .feta, .asiago {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.recipe-heading, .recipe-heading2, .recipe-heading3{
  color: var(--burgundy);
  position: relative;
  left: 100px;
}

.recipe-heading2{
  padding-left: 120px;
}

.recipe-heading3{
  padding-left: 150px;
}

.colby-jack {
  position: relative;
  left: 180px;
}

.colby-jack-cheese-fries-heading{
  padding-left: 150px;
}

.blue-cheese-pizza-heading{
  padding-left: 160px;
}

.blue-cheese{
  position: relative;
  left: 200px;
}

.directions2{
  padding-left: 100px;
  color: var(--black);
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}

.asiago{
  max-width: 250px;
  border-radius: 50%;

}

.brie{
  max-width: 250px;
  border-radius: 50%;
}

.feta{
  max-width: 250px;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}
.swiss-mac, .colby-jack, .blue-cheese,  .brie, .feta, .asiago {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.recipe-container > div {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color:  olive;
  border: 2px solid #800020;
}