:root {
	--page-background: #000000;
	--object-background: #657c00;
	--headers: #8E3200;
	--body: #FFF;
	--buttons: #7a0a0a;
	--hover: #8E3200;
	--font-header: 'Rock Salt', sans-serif;
	--font-body: 'Poppins', sans-serif;
	--font3: 300;
	--font5: 500;
	--font7: 700;
}

html {
	font-size: 16px;
	box-sizing: border-box; /* width & height include the padding & border, easier to size elements consistently.*/
	scroll-behavior: smooth; /* a visually pleasing transition between elements or sections */
}

*, *::before, *::after {
	margin: 0; /* reset to baseline - default browser margin/padding vary */
	padding: 0; /* reset to baseline - default browser margin/padding vary */
	box-sizing: inherit; /* ensure box-sizing behavior for all elements */
}

body {
	background-color: var(--page-background);
	font-family: var(--font-body);
	font-weight: var(--font5);
	color: var(--body);
	height: 100%; /* Set the height of the body element */
	margin: 0; /* reset to baseline - default browser margin/padding vary */
	padding: 0; /* reset to baseline - default browser margin/padding vary */
	line-height: 1.6;
}

p {
	overflow-wrap: break-word; /* allows the text to be broken and wrapped within the container */

}

h1 {
	font-family: var(--font-header);
	color: var(--headers);
	font-size: 5rem;
	font-weight: var(--font7);
	text-align: center;
	padding: 2rem;
	overflow-wrap: break-word; /* allows the text to be broken and wrapped within the container */
}

h2, h3, h4, h5, h6 {
	font-size: 2rem;
	color: var(--headers);
	font-weight: var(--font7);
	overflow-wrap: break-word; /* allows the text to be broken and wrapped within the container */
}
button {
	background-color: var(--object-background);
	border: .1rem solid var(--object-background);
	color: var(--body);
	font-size: 1rem;
	padding: 1rem;
	border-radius: 2rem;
}
button:hover {
	color: var(--hover);
}

ol, ul {
	list-style: none; /* no bullet points */
}

table {
	border-collapse: collapse; /* merges the borders of adjacent cells into a single border */
	border-spacing: 0; /* removes any space between the cells */
}
