:root {
    /*accent colors*/
    --black: #0F0E0E;
    --burgundy: #820000; /*nav and card background*/
    --olive-green: #4E6C50; /*form background*/
    --cream-beige: #F2DEBA; /*page background*/
    
    /*font styles*/
    --font3: 300;
    --font5: 500;
    --font7: 700;
    --fs: 16px;
    --font-header: 'Rock Salt', sans-serif;
    --font-body: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    min-height: 100%;
    line-height: 1.5;
    color: var(--black);
    scroll-behavior: smooth;
    font-weight: var(--font5);
    font-family: var(--font-body);
    background-color: var(--cream-beige);
}

html {
    display: flex;
    justify-content: center;
    background-image: url("../images/cheesyBackground.png");
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

} 

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
    display: block;
    width: 100%;
}

input, button, textarea, select {
    font: inherit;
}
