h1, h2 {
	padding: 2rem;
	font-size: 5rem;
	text-align: center;
	color: var(--black);
	font-weight: var(--font7);
	font-family: var(--font-header);
}

h2 {
	font-size: 3rem;
}

h3 { /* form header */
	font-size: 2rem;
}

h4, h5, h6 {
	font-size: 1rem;
	color: var(--burgundy);
}

p {
	font-size: 1rem;
	max-width: 40rem;
	/*text-align: center;*/
	color: var(--black);
	font-weight: var(--font5);
	font-family: var(--font-body);
}