.header-logo {
    top: 0.5em;
    left: 0.5em;
    z-index: 9000;
    position: fixed;
    font-size: 2rem;
    color: var(--cream-beige);
    font-weight: var(--font7);
    font-family: var(--font-header);
}

.header-logo:hover {
    border: 0;
    padding: 0;
    font-size: 2.2rem;
    background-color: transparent;
}

h1, h2, h3 {
    padding: 2rem;
    text-align: center;
    color: var(--black);
    font-weight: var(--font7);
    font-family: var(--font-header);
}

h1 {
   font-size: 4rem; 
}

h2 {
    font-size: 3rem;
}

h3 { /* form header */
    font-size: 2rem;
}

h4, h5, h6 {
    font-size: 1.5rem;
    color: var(--burgundy);
}

p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--black);
    font-weight: var(--font5);
    font-family: var(--font-body);
}
